@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../gllacy/fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: auto;
  font-weight: 400;
  src: url("../gllacy/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../gllacy/fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: black;
}

.container, .blockWithWidthRestriction {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  background: #feafc3;
  width: 100%;
  min-width: 1170px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  margin: 24px 0;
}

.menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li+li {
  margin-left: 32px;
}

.menu-right-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  text-decoration: none;
  color: #2d3440;
  padding-right: 10px;

}

.contacts-phone {
  text-decoration: none;
  color: #2d3440;
  font-style: normal;
  font-weight: 700;
}

.search {
  border-radius: 100%;
  background: rgba(252, 252, 252, 0.3);
  width: 32px;
  height: 32px;
  border: #ffffff;
  background-image: url("./images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.personal {
  width: 88px;
  height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: #ffffff;
  background-image: url("./images/Log-in.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.basket {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  width: 115px;
  height: 32px;
  background-image: url("./images/Cart.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.search, .personal, .basket {
  margin-left: 16px;
}

.position {
  text-decoration: none;
  color: #2d3440;
}

.slider {
  width: 100%;

}

.title {
  font-size: 36px;
  line-height: 46px;
}

.description {
  font-size: 18px;
  line-height: 24px;
}

.button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  height: 44px;
  background: #FCFCFC;
  border: 4px solid #FEAFC3;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
}

.small-slide {
  /*position: absolute;*/
  background-color: #FFCBD8;
  border-radius: 100%;
  width: 312px;
  height: 312px;
  left: calc(50% - 312px/2 + 3px);
  top: calc(50% - 312px/2);
}

.social-item {

  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #FFCBD8;

}

.social-list {
  display: flex;
  align-items: center;
  justify-content: right;

  margin: 0;
  text-decoration: none;
}

.slider-pagination {
  position: absolute;
  padding-right: 10px;
  bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  list-style-type: none;


  flex-direction: row;
  align-items: flex-start;
  border: none;
}

.slider-pagination-button {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  border: none;
  opacity: 30%;
  margin-right: 8px;
}

.slider-pagination-button-current {
  opacity: 1;

}

.slider-arrows {
  position: absolute;
  width: 350px;
  left: 616px;
  top: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-button {
  background: url("./images/arrow.svg");
  border-radius: 100%;
  width: 38px;
  height: 38px;
  border: 2px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slider-left-column {
  width: 470px;
  padding-top: 136px;
}

.slide-image-link-background {
  background: #FFCBD8;
  border-radius: 100%;
  width: 312px;
  height: 312px;

}

.slide-image-link {
}

.slider-right-column {
}

.button-padding {
  margin-top: 48px;
  width: 139px;
}

.title-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 55px auto;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
  text-align: center;
}

.title-delivery {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
  text-align: center;
}

.title-h2-width {
  width: 434px;
}

.title-medium {
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  font-weight: 700;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  width: 303px;
}

.description-medium {
  font-size: 16px;
  line-height: 22px;
  padding: 28px 0;

}

.button-width {
  width: 185px;
}



.banner-action {
  display: flex;

}

.action-card {
  display: flex;

  background: #FF7799;
  width: 570px;
  height: 268px;
  border-radius: 16px;
  margin-right: 30px;
}

.action-card-text {
  padding: 36px 0 36px 36px;
  min-width: 328px;
}

.action-picture {
  bottom: 10px;
}

.title-h2-width-2 {
  width: 527px;
}

.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #2D3440;
}

.feedback-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: #2D3440;
  padding-top: 12px;
}

.advantages {
  position: relative;
  background: #ffffff;
  padding: 56px 48px;
  margin: 80px 24px 24px 24px;
  border-radius: 16px;
}

.advantages:before {
  content: "";
  position: absolute;
  left: -24px;
  top: -24px;
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  z-index: -1;
  background-image: url("./images/wafflia.jpg");

}

.advantages-frames {
  display: flex;
  flex-direction: column;
}

.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #2D3440;
  margin: 0;
  padding-top: 24px;
}

.image-title-description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.advantages-frame {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  width: 505px;

}

.advantages-frame-description {
  padding-left: 16px;
  margin: 0;
  padding-bottom: 40px;
}

.advantages-frame-icon {
  /*background-image: url("./images/icon-ice-cream.png");*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 2px solid #2D3440;
  width: 48px;
  height: 48px;
  background-position: center;
  flex-shrink: 0;
}

.cost {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.advantages-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}


.taste-raspberry {

}

.hit-cards {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  min-height: 281px;
  border-radius: 8px;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.card {
  position: relative;
  list-style-type: none;
  padding: 0 40px 24px 40px;
}

.none-decoration {

}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 51px);
  z-index: -1;
  background-color: #ffffff;
}

.tastes {
  border-radius: 100%;
}



.slides {
  display: flex;
}

.basket-button {
  border-radius: 100%;
  background-color: #FF2F64;
  background-image: url("./images/taste-basket.svg");
  width: 32px;
  height: 32px;
  background-size: 16px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.cost-basket {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.news-subscribe {
  display: flex;
  margin: 80px 0;
}

.news {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("./images/fone-news.png");
  width: 570px;
  height: 224px;
  padding: 32px;
}

.news-description {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  list-style-type: none;
  color: #2D3440;
  font-weight: 400;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  padding: 26px;
  border-radius: 16px;
  width: 570px;
  height: 224px;
  margin-left: 30px;
}

.email {
  width: 332px;
  height: 48px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.button-subscribe {
background: #FF2F64;
  color: #ffffff;
  margin-left: 14px;
}

.subscribe-form {
  display: flex;
  flex-wrap: nowrap;
}

.delivery {
  display: flex;
  background-image: url("./images/fone-delivery.png");
  width: 1170px;
  height: 534px;
}

.delivery-left-column {
  display: flex;
  flex-wrap: wrap;
  padding: 167px 100px;
}

.delivery-right-column {
  margin: 64px;
  background: #ffffff;
  padding: 40px;
  width: 500px;
  height: 406px;
  border-radius: 8px;
}

.delivery-right-column-menu {
  display: flex;
  align-items: center;
font-weight: 700;
font-size: 16px;
line-height: 20px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.auth-form-field {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  height: 48px;
  border-radius: 4px;
  border-color: #B9B9B9;
}

.date-row {
  width: 117px;
}

.phone-row {
  width: 287px;
}

.address-row {
  width: 420px;
}

.information {
  background: #ffffff;
  border: none;
}

.button-sell {
background: #FF2F64;
  color: #ffffff;
}

.delivery-action {
  display: flex;
  flex-wrap: nowrap;
}

.subscribe-button {
  display: flex;
  align-items: center;
  padding-top: 32px;
}

.card-description-small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 32px;
  margin: 0;
}

.button-feedback {
  background: #FF2F64;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.block-feedback {
  background-image: url("./images/fone-contucts.jpg");
  min-height: 492px;
  margin-top: 80px;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
}

.block-feedback-text {
  background: #ffffff;
  min-height: 364px;
  width: 343px;
  border-radius: 8px;
  padding: 40px;
}

.favorite {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  list-style-type: none;
  color: #2D3440;
}

.favorite::before {
  content: "";
  position: absolute;
  transform: translate(-25px, 4px);
  background-image: url("./images/favorite.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-list-menu {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.navigation-list {
  display: grid;
  list-style-type: none;
  padding-top: 48px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-column-end {
  padding-top: 48px;
}

.subscribe-email {
  display: flex;
}

.first-label {
  display: flex;
  align-items: center;
}

.data {
  display: flex;
  flex-wrap: wrap;
}

.address {
}

.footer-social-item-tg {
  background-image: url("./images/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.footer-social-item-youtube {
  background-image: url("./images/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.footer-social-item-vk {
  background-image: url("./images/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.slide-inactive .slide-left {
  display: none;
}
